VITE_IAM_BASE_URL=http://localhost:8000
VITE_GOOGLE_PLACES_API_KEY="AIzaSyDWZnPSgmDOvhmfYa7pZAhtg-ytshHYC0s"
VITE_SRM_API_BASE_URL=http://localhost:8002
# VITE_TIMESHEET_BASE_URL=http://localhost:8003/
VITE_PAYROLL_BASE_URL=http://localhost:8000/
VITE_EXPENSE_API_BASE_URL=http://localhost:8005
